<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1 class="mb-4">STUPID COACH</h1>
    <form action="/answer" data-turbo="false" method="get">
      <input type="text" name="question" class="form-control w-100 mx-auto">
      <input type="submit" value="Ask!" class="btn btn-primary mt-3">
    </form>
  </div>
</div>
